.conheca-app{
  background-color: var(--surface-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
   padding-block: 80px;
}

.foto-conheca-app {
  display: flex;
  justify-content: flex-end;
}

.text-app{
  padding-left: 50px;
}

.text-app span{
 color: var(--brand-primary);
 font: var(--span-desktop);
}

.text-app h2{
  padding-block: 8px;
  color: var(--text-color-primary);
  font: var(--h2-desktop);
}

.text-app p{
  color: var(--text-color-secondary);
  font: var(--p-desktop);
}

@media (max-width: 768px) {
   .conheca-app{
    grid-template-columns: 1fr;
    padding-bottom: 48px;
    text-align: center;
  }

    .foto-conheca-app{
    order: -1; /* joga a imagem pra cima */
    justify-content: center;
    margin-bottom: 48px;
    margin-top: -450px
  }

  .foto-conheca-app img{
    max-width: 400px;
  }

  .text-app{
   padding-right: 100px;
  }

  .text-app h2{
   font: var(--h2-mobile);
  }

  .text-app p{
     font: var(--p-mobile);
  }

.text-app span{
  font: var(--span-mobile);
}
}