.download{
  background-color:var(--background-color);
  padding-block: 80px;
}

.caixa-download{
  background-color: var(--surface-color);
  border-radius: 24px;
  /* height: 512px; */
    position: relative;
}

.txt-download{
  padding-top: 140px;
  padding-left: 80px;
}

.txt-download span{
  color: var(--brand-primary);
  font: var(--span-desktop);
}

.txt-download h2{
   color: var(--text-color-primary);
  font: var(--h2-desktop);
  padding-block: 8px;
}

.txt-download p{
   font: var(--p-desktop);
  color: var(--text-color-secondary);
}

.img-msc{
  display: flex;
  justify-content: flex-end;
   height: 700px;
    position: absolute;
  right: 40px;
  bottom: -78px;
  
}

.plataformas-download{
  display: flex;
  gap: 15px;
  padding-top: 40px;
  padding-left: 80px;
  padding-bottom: 140px;
}