.download{
  background-color:var(--background-color);
  padding-block: 80px;
}

.caixa-download{
  background-color: var(--surface-color);
  border-radius: 24px;
    position: relative;
}

.txt-download{
  padding-top: 140px;
  padding-left: 80px;
}

.txt-download span{
  color: var(--brand-primary);
  font: var(--span-desktop);
}

.txt-download h2{
   color: var(--text-color-primary);
  font: var(--h2-desktop);
  padding-block: 8px;
}

.txt-download p{
   font: var(--p-desktop);
  color: var(--text-color-secondary);
}

.img-msc{
  display: flex;
  justify-content: flex-end;
   height: 700px;
    position: absolute;
  right: 40px;
  bottom: -78px;
  
}

.plataformas-download{
  display: flex;
  gap: 15px;
  padding-top: 40px;
  padding-left: 80px;
  padding-bottom: 140px;
}

@media (max-width: 768px){
.txt-download span{
  color: var(--brand-primary);
  font: var(--span-mobile);
}
.txt-download h2{
   color: var(--text-color-primary);
  font: var(--h2-mobile);
  padding-block: 8px;
}
.txt-download p{
   font: var(--p-mobile);
  color: var(--text-color-secondary);
}

 .caixa-download{
    padding: 32px 16px 0;
    margin-right: 40px;
  }
  .txt-download{
    padding-top: 0;
    padding-left: 0;
    text-align: left;
  }

  .plataformas-download{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 24px;
    gap: 12px;
  }

  .plataformas-download img{
    width: 180px;
  }

  .img-msc{
    position: relative;
    right: 0;
    bottom: 0;
    height: auto;
    justify-content: center;
    margin-top: 32px;
  }

  .img-msc img{
  display: flex;
  justify-content: flex-end;
  height: 300px;

  position: absolute;
  right: -50px;
  bottom: -33px; 
  }


}