footer{
  padding-block: 80px;
  background-color: var(--background-color);
}

.logo-final{
  padding-bottom: 20px;
}

.divulgacao{
  padding-top: 80px;
  text-align: center;
}

.hr{
  
}

.divulgacao span{
  color: var(--text-color-secondary);
  font: var(--span-desktop);
}

.social-links{
  gap: 16px;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.social-links a {
 text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-links a:hover{
   transform: scale(1.5);
  opacity: 0.8;
}