.funcionalidades {
  padding-block: 80px;
  background-color: var(--background-color);
}

.funcionalidades img{
  border-radius: 24px;
}

.grid1{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 32px;
}

.grid2{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2,1fr);
  justify-self: center;
  align-self: center;
}

@media (max-width: 768px) {

.funcionalidades img{
  height: 210px;
  
}

  .grid1{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 32px;
  margin-left: 20px;
  
}

 .grid2{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 32px;
  
}
}
