header{
 background-color: var(--background-color);
 padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utilidades-do-header{
  display: flex;
  align-items: center;
  gap: 24px;
}

.utilidades-do-header a {
 text-decoration: none;
 color: var(--text-color-secondary);
 font: var(--p-desktop);
}

.utilidades-do-header a:not(.btn-header):hover{
   background: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.links-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.links-header a {
  text-decoration: none;
  color: var(--text-color-secondary);
  font: var(--p-desktop);
}

#btn{
  color:var(--background-color);
}

#btn:hover{
  color: var(--text-color-primary);
}

.btn-header{
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--text-color-primary);
}

.btn-header:hover{
  background: var(--brand-gradient);
}
  

@media (max-width: 768px) {
  header {
    padding-inline: 16px;
    width: 100%;
  }

  .utilidades-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .utilidades-do-header a:not(.btn-header) {
    display: none;
  }

  .btn-header {
    padding: 8px 14px;
  }
}