main{
  min-height: 100vh;
  background-image:url(../assets/img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color)
}
 
.onda-sonora{
  display: flex;
 justify-content: center;
 padding-top: 100px;
}

main h1{
  padding-top: 30px;
  color: var(--text-color-primary);
  text-align: center;
  font: var( --h1-desktop);
}

main h2{
  padding-top: 20px;
  color: var(--text-color-secondary);
  text-align: center;
  font: var(--h2-2-desktop);
}

.cta-buttons {
  padding: 48px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-outline {
  padding: 12px 24px;
  border: 1.5px solid var(--text-color-primary);
  border-radius: 8px;
  color: var(--text-color-primary);
  text-decoration: none;
  font: var(--p-desktop);
}

.btn-outline:hover {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1.5px solid var(--brand-primary);
  color: var(--brand-primary);

}

.btn-solid {
  padding: 12px 24px;
  background: var(--text-color-primary);
  border-radius: 10px;

  color: var(--background-color);
  text-decoration: none;
  font: var(--p-desktop);
}

.btn-solid:hover{
  background: var(--brand-gradient);
  color: var(--text-color-primary);
}

@media (max-width: 768px){
   main{
    padding-inline: 16px;
  }

  .onda-sonora{
    padding-top: 100px;
    padding-right: 32px;
  }

  .onda-sonora img{
    max-width: 300px;
  }

  main h1{
   font: var(--h1-mobile);
    padding-top: 24px;
    padding-right: 32px;
  }

  main h2{
    font: var(--h2-mobile);
    padding-top: 16px;
    padding-right: 32px;
  }

  .cta-buttons{
    padding-top: 60px;
    padding-right: 90px;
    
}

.btn-outline {
  padding: 12px 30px;
  border: 1.5px solid var(--text-color-primary);
  border-radius: 8px;
  color: var(--text-color-primary);
  text-decoration: none;
  font: var(--p-mobile);
}

btn-solid {
  padding: 12px 30px;
  background: var(--text-color-primary);
  border-radius: 10px;

  color: var(--background-color);
  text-decoration: none;
  font: var(--p-desktop);
}

}